src/Voting.Lib.Ech.Ech0252_1_0/Schemas/eCH-0252-1-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:eCH-0252="http://www.ech.ch/xmlns/eCH-0252/1"
	xmlns:eCH-0058="http://www.ech.ch/xmlns/eCH-0058/5"
	xmlns:eCH-0155="http://www.ech.ch/xmlns/eCH-0155/5"
	xmlns:eCH-0044="http://www.ech.ch/xmlns/eCH-0044/4"
	targetNamespace="http://www.ech.ch/xmlns/eCH-0252/1" elementFormDefault="qualified"
	attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation>Ausgabedatum: 23.08.2022</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0058/5"
		schemaLocation="http://www.ech.ch/xmlns/eCH-0058/5/eCH-0058-5-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0155/5"
		schemaLocation="http://www.ech.ch/xmlns/eCH-0155/5/eCH-0155-5-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0044/4"
		schemaLocation="http://www.ech.ch/xmlns/eCH-0044/4/eCH-0044-4-1.xsd"/>
	<xs:attribute name="minorVersion" type="xs:integer">
		<xs:annotation>
			<xs:documentation>This attribute is used for indicating the minor version of an XML Schema instance in a standardized way. It SHOULD only appear on the document element of XML Schema instances.</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:simpleType name="countOfType">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="groupingType">
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="sequenceType">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="idNameType">
		<xs:restriction base="xs:token">
			<xs:maxLength value="20"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="resultNameType">
		<xs:restriction base="xs:token">
			<xs:maxLength value="100"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="namedIdType">
		<xs:sequence>
			<xs:element name="idName" type="eCH-0252:idNameType"/>
			<xs:element name="id">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:maxLength value="50"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="namedElementType">
		<xs:sequence>
			<xs:element name="elementName" type="eCH-0252:resultNameType"/>
			<xs:choice>
				<xs:element name="countOf" type="eCH-0252:countOfType"/>
				<xs:element name="percent" type="eCH-0252:percentType"/>
				<xs:element name="text">
					<xs:simpleType>
						<xs:restriction base="xs:token">
							<xs:minLength value="1"/>
							<xs:maxLength value="500"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="voteSubTypeType">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="numberOfEntriesType">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="decisiveMajorityType">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="pollingDayType">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:complexType name="countingCircleType">
		<xs:sequence>
			<xs:element name="countingCircleId" type="eCH-0155:countingCircleIdType" minOccurs="0"/>
			<xs:element name="countingCircleName" type="eCH-0155:countingCircleNameType"
				minOccurs="0"/>
			<xs:element name="domainOfInfluenceType" type="eCH-0155:domainOfInfluenceTypeType"
				minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="voteInfoType">
		<xs:sequence>
			<xs:element name="vote" type="eCH-0252:voteType"/>
			<xs:element name="countingCircleInfo" type="eCH-0252:countingCircleInfoType"
				maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="voteTitleInformationType">
		<xs:sequence>
			<xs:element name="language" type="eCH-0155:languageType"/>
			<xs:element name="voteTitle">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:minLength value="1"/>
						<xs:maxLength value="700"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="voteTitleShort" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:minLength value="1"/>
						<xs:maxLength value="300"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="voteType">
		<xs:sequence>
			<xs:element name="voteIdentification" type="eCH-0155:voteIdentificationType"/>
			<xs:element name="mainVoteIdentification" type="eCH-0155:voteIdentificationType"
				minOccurs="0"/>
			<xs:element name="otherIdentification" type="eCH-0252:namedIdType" minOccurs="0"
				maxOccurs="unbounded"/>
			<xs:element name="domainOfInfluence" type="eCH-0155:domainOfInfluenceType"/>
			<xs:element name="superiorAuthority" type="eCH-0155:domainOfInfluenceType" minOccurs="0"/>
			<xs:element name="pollingDay" type="eCH-0252:pollingDayType"/>
			<xs:element name="voteTitleInformation" type="eCH-0252:voteTitleInformationType"
				maxOccurs="unbounded"/>
			<xs:element name="decisiveMajority" type="eCH-0252:decisiveMajorityType"/>
			<xs:element name="voteSubType" type="eCH-0252:voteSubTypeType"/>
			<xs:element name="sequence" type="eCH-0252:sequenceType" minOccurs="0"/>
			<xs:element name="grouping" type="eCH-0252:groupingType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="countingCircleInfoType">
		<xs:sequence>
			<xs:element name="countingCircle" type="eCH-0252:countingCircleType"/>
			<xs:element name="resultData" type="eCH-0252:resultDataType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="fullyCountedTrue">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="percentType">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0.00"/>
			<xs:maxInclusive value="100.00"/>
			<xs:totalDigits value="5"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="releasedTimeStampType">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="lockoutTimeStampType">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:complexType name="countOfVotersInformationType">
		<xs:sequence>
			<xs:element name="countOfVotersTotal" type="eCH-0252:countOfType"/>
			<xs:element name="subtotalInfo" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="countOfVoters" type="eCH-0252:countOfType"/>
						<xs:element name="voterType" type="eCH-0155:voterTypeType" minOccurs="0"/>
						<xs:element name="sex" type="eCH-0044:sexType" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="votingCardInformationType">
		<xs:sequence>
			<xs:element name="countOfVotingCardsReceivedInBallotbox" type="eCH-0252:countOfType"
				minOccurs="0"/>
			<xs:element name="countOfVotingCardsReceivedPrematurelyInBallotbox"
				type="eCH-0252:countOfType" minOccurs="0"/>
			<xs:element name="countOfVotingCardsReceivedByMail" type="eCH-0252:countOfType"
				minOccurs="0"/>
			<xs:element name="countOfVotingCardsReceivedByEvoting" type="eCH-0252:countOfType"
				minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="resultDataType">
		<xs:sequence>
			<xs:element name="countOfVotersInformation" type="eCH-0252:countOfVotersInformationType"/>
			<xs:element name="votingCardInformationType" type="eCH-0252:votingCardInformationType"
				minOccurs="0"/>
			<xs:element name="fullyCountedTrue" type="eCH-0252:fullyCountedTrue"/>
			<xs:element name="releasedTimeStamp" type="eCH-0252:releasedTimeStampType" minOccurs="0"/>
			<xs:element name="lockoutTimeStamp" type="eCH-0252:lockoutTimeStampType" minOccurs="0"/>
			<xs:element name="voterTurnout" type="eCH-0252:percentType" minOccurs="0"/>
			<xs:element name="receivedVotes" type="eCH-0252:countOfType"/>
			<xs:element name="receivedInvalidVotes" type="eCH-0252:countOfType"/>
			<xs:element name="receivedBlankVotes" type="eCH-0252:countOfType"/>
			<xs:element name="receivedValidVotes" type="eCH-0252:countOfType"/>
			<xs:element name="countOfYesVotes" type="eCH-0252:countOfType"/>
			<xs:element name="countOfNoVotes" type="eCH-0252:countOfType"/>
			<xs:element name="countOfVotesWithoutAnswer" type="eCH-0252:countOfType" minOccurs="0"/>
			<xs:element name="namedElement" type="eCH-0252:namedElementType" minOccurs="0"
				maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventVoteBaseDeliveryType">
		<xs:sequence>
			<xs:element name="cantonId" type="eCH-0155:BfSNumberCantonType"/>
			<xs:element name="pollingDay" type="eCH-0252:pollingDayType"/>
			<xs:element name="voteInfo" type="eCH-0252:voteInfoType" maxOccurs="unbounded"/>
			<xs:element name="numberOfEntries" type="eCH-0252:numberOfEntriesType"/>
			<xs:element name="extension" type="eCH-0155:extensionType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="delivery">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="deliveryHeader" type="eCH-0058:headerType"/>
				<xs:element name="voteBaseDelivery" type="eCH-0252:eventVoteBaseDeliveryType"/>
			</xs:sequence>
			<xs:attribute ref="eCH-0252:minorVersion"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
