src/Voting.Lib.Ech.Generator/Schemas/ABX-Voting-1-5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- bearbeitet mit XMLSpy v2025 (x64) (https://www.altova.com) von  (Abraxas Informatik AG) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ABX-Voting="http://www.abraxas.ch/xmlns/ABX-Voting/1" xmlns:eCH-0007="http://www.ech.ch/xmlns/eCH-0007/6" xmlns:eCH-0011="http://www.ech.ch/xmlns/eCH-0011/9" xmlns:eCH-0021="http://www.ech.ch/xmlns/eCH-0021/8" xmlns:eCH-0044="http://www.ech.ch/xmlns/eCH-0044/4" xmlns:eCH-0058="http://www.ech.ch/xmlns/eCH-0058/5" targetNamespace="http://www.abraxas.ch/xmlns/ABX-Voting/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.5">
	<xs:annotation>
		<xs:documentation>Version 1.5</xs:documentation>
		<xs:documentation>Ausgabedatum: 24.06.2025</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0007/6" schemaLocation="http://www.ech.ch/xmlns/eCH-0007/6/eCH-0007-6-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0011/9" schemaLocation="http://www.ech.ch/xmlns/eCH-0011/9/eCH-0011-9-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0021/8" schemaLocation="http://www.ech.ch/xmlns/eCH-0021/8/eCH-0021-8-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0044/4" schemaLocation="http://www.ech.ch/xmlns/eCH-0044/4/eCH-0044-4-1.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0058/5" schemaLocation="http://www.ech.ch/xmlns/eCH-0058/5/eCH-0058-5-0.xsd"/>
	<xs:complexType name="nameInfoType">
		<xs:sequence minOccurs="0">
			<xs:element name="nameValidFrom" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="birthPlaceAddonType">
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="birthInfoType">
		<xs:sequence minOccurs="0"/>
	</xs:complexType>
	<xs:complexType name="placeOfOriginInfoType">
		<xs:sequence minOccurs="0"/>
	</xs:complexType>
	<xs:complexType name="reportingMunicipalityType">
		<xs:sequence minOccurs="0">
			<xs:element name="reportingMunicipality" type="eCH-0007:swissMunicipalityType" minOccurs="0"/>
			<xs:element name="arrivalDate" type="xs:date" minOccurs="0"/>
			<xs:element name="comesFrom" type="eCH-0011:destinationType" minOccurs="0"/>
			<xs:element name="dwellingAddress" type="eCH-0011:dwellingAddressType" minOccurs="0"/>
			<xs:element name="departureDate" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="residenceType">
		<xs:complexContent>
			<xs:restriction base="ABX-Voting:reportingMunicipalityType">
				<xs:sequence minOccurs="0">
					<xs:element name="reportingMunicipality" type="eCH-0007:swissMunicipalityType" minOccurs="0"/>
					<xs:element name="arrivalDate" type="xs:date" minOccurs="0"/>
					<xs:element name="comesFrom" type="eCH-0011:destinationType" minOccurs="0"/>
					<xs:element name="dwellingAddress" type="eCH-0011:dwellingAddressType" minOccurs="0"/>
					<xs:element name="departureDate" type="xs:date" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="districtCategoryType">
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="districtIdentificationType">
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="districtNameType">
		<xs:restriction base="xs:token">
			<xs:maxLength value="100"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="districtType">
		<xs:sequence>
			<xs:element name="districtCategory" type="ABX-Voting:districtCategoryType"/>
			<xs:element name="localDistrictId" type="ABX-Voting:districtIdentificationType"/>
			<xs:element name="otherDistrictId" type="ABX-Voting:districtIdentificationType" minOccurs="0"/>
			<xs:element name="districtName" type="ABX-Voting:districtNameType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="personInfoType">
		<xs:sequence>
			<xs:element name="personIdentification" type="eCH-0044:personIdentificationType"/>
			<xs:element name="nameData" type="eCH-0011:nameDataType"/>
			<xs:element name="religionData" type="eCH-0011:religionDataType"/>
			<xs:element name="personAdditionalData" type="eCH-0021:personAdditionalData" minOccurs="0"/>
			<xs:element name="nationalityData" type="eCH-0011:nationalityDataType"/>
			<xs:choice>
				<xs:element name="placeOfOrigin" type="eCH-0011:placeOfOriginType" maxOccurs="unbounded"/>
				<xs:element name="residencePermit" type="eCH-0011:residencePermitDataType"/>
			</xs:choice>
				<xs:element name="politicalRightData" type="ABX-Voting:politicalRightDataType" minOccurs="0"/>
			<xs:element name="dispatchLockVotingCard" type="xs:boolean" minOccurs="0"/>
			<xs:element name="contactData" type="eCH-0011:contactDataType" minOccurs="0"/>
			<xs:choice>
				<xs:element name="hasMainResidence" type="ABX-Voting:residenceType"/>
				<xs:element name="hasSecondaryResidence">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="ABX-Voting:residenceType">
								<xs:sequence minOccurs="0">
									<xs:element name="mainResidence" type="eCH-0007:swissMunicipalityType" minOccurs="0"/>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:element name="isHeadOfHousehold" type="xs:boolean" minOccurs="0"/>
			<xs:element name="district" type="ABX-Voting:districtType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="numberOfSubjectsType">
		<xs:restriction base="xs:nonNegativeInteger"/>
	</xs:simpleType>
		<xs:complexType name="politicalRightDataType">
		<xs:sequence>
			<xs:element name="restrictedVotingAndElectionRightFederation" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventBaseDelivery">
		<xs:sequence>
			<xs:element name="person" type="ABX-Voting:personInfoType" maxOccurs="unbounded"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="delivery">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="deliveryHeader" type="eCH-0058:headerType"/>
				<xs:choice>
					<xs:element name="baseDelivery" type="ABX-Voting:eventBaseDelivery"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>