src/Voting.Lib.Ech.Generator/Schemas/eCH-0228-1-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2012 sp1 (http://www.altova.com) von Martin Stingelin (Stingelin Informatik GmbH) bearbeitet -->
<!-- edited with XMLSpy v2012 rel. 2 sp1 (http://www.altova.com) by Martin Stingelin (Stingelin Informatik GmbH) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eCH-0228="http://www.ech.ch/xmlns/eCH-0228/1" xmlns:eCH-0058="http://www.ech.ch/xmlns/eCH-0058/5" xmlns:eCH-0155="http://www.ech.ch/xmlns/eCH-0155/4" xmlns:eCH-0045="http://www.ech.ch/xmlns/eCH-0045/4" xmlns:eCH-0010="http://www.ech.ch/xmlns/eCH-0010/6" xmlns:eCH-0044="http://www.ech.ch/xmlns/eCH-0044/4" xmlns:eCH-0011="http://www.ech.ch/xmlns/eCH-0011/8" xmlns:eCH-0021="http://www.ech.ch/xmlns/eCH-0021/7" xmlns:eCH-0008="http://www.ech.ch/xmlns/eCH-0008/3" xmlns:eCH-0007="http://www.ech.ch/xmlns/eCH-0007/6" xmlns:eCH-0006="http://www.ech.ch/xmlns/eCH-0006/2" targetNamespace="http://www.ech.ch/xmlns/eCH-0228/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation>Ausgabedatum: 09.04.2019</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0058/5" schemaLocation="http://www.ech.ch/xmlns/eCH-0058/5/eCH-0058-5-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0155/4" schemaLocation="http://www.ech.ch/xmlns/eCH-0155/4/eCH-0155-4-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0045/4" schemaLocation="http://www.ech.ch/xmlns/eCH-0045/4/eCH-0045-4-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0010/6" schemaLocation="http://www.ech.ch/xmlns/eCH-0010/6/eCH-0010-6-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0044/4" schemaLocation="http://www.ech.ch/xmlns/eCH-0044/4/eCH-0044-4-1.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0011/8" schemaLocation="http://www.ech.ch/xmlns/eCH-0011/8/eCH-0011-8-1.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0021/7" schemaLocation="http://www.ech.ch/xmlns/eCH-0021/7/eCH-0021-7-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0008/3" schemaLocation="http://www.ech.ch/xmlns/eCH-0008/3/eCH-0008-3-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0007/6" schemaLocation="http://www.ech.ch/xmlns/eCH-0007/6/eCH-0007-6-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0006/2" schemaLocation="http://www.ech.ch/xmlns/eCH-0006/2/eCH-0006-2-0.xsd"/>
	<xs:attribute name="minorVersion" type="xs:integer">
		<xs:annotation>
			<xs:documentation>This attribute is used for indicating the minor version of an XML Schema instance in a standardized way. It SHOULD only appear on the document element of XML Schema instances.</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:simpleType name="codeType">
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="personIdentificationType">
		<xs:sequence>
			<xs:element name="localPersonId" type="eCH-0044:namedPersonIdType"/>
			<xs:element name="otherPersonId" type="eCH-0044:namedPersonIdType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="officialName" type="eCH-0044:baseNameType" minOccurs="0"/>
			<xs:element name="firstName" type="eCH-0044:baseNameType" minOccurs="0"/>
			<xs:element name="originalName" type="eCH-0044:baseNameType" minOccurs="0"/>
			<xs:element name="sex" type="eCH-0044:sexType" minOccurs="0"/>
			<xs:element name="dateOfBirth" type="eCH-0044:datePartiallyKnownType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="frankingAreaType">
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="votingPersonType">
		<xs:sequence>
			<xs:element name="person">
				<xs:complexType>
					<xs:choice>
						<xs:element name="swiss" type="eCH-0228:swissDomesticType"/>
						<xs:element name="swissAbroad" type="eCH-0228:swissAbroadType"/>
						<xs:element name="foreigner" type="eCH-0228:foreignerType"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="deliveryAddress" type="eCH-0010:personMailAddressType" minOccurs="0"/>
			<xs:element name="isEvoter" type="eCH-0045:yesnoType" minOccurs="0"/>
			<xs:element name="domainOfInfluenceInfo" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="domainOfInfluence" type="eCH-0155:domainOfInfluenceType"/>
						<xs:element name="countingCircle" type="eCH-0155:countingCircleType" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="votingPlaceInformationType">
		<xs:sequence>
			<xs:element name="votingPlaceIdentification" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:minLength value="1"/>
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="votingPlace" type="eCH-0010:organisationMailAddressType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="namedCodeType">
		<xs:sequence>
			<xs:element name="codeDesignation">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:minLength value="1"/>
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="codeValue" type="eCH-0228:codeType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="urlType">
		<xs:sequence>
			<xs:element name="eVotingURL">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:minLength value="1"/>
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="fingerprintInformation" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="eVotingFingerprint">
							<xs:simpleType>
								<xs:restriction base="xs:token">
									<xs:minLength value="1"/>
									<xs:maxLength value="255"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="fingerprintDesignation" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="language" type="eCH-0155:languageType"/>
									<xs:element name="fingerprintDesignationText">
										<xs:simpleType>
											<xs:restriction base="xs:token">
												<xs:minLength value="1"/>
												<xs:maxLength value="500"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="contestDataType">
		<xs:sequence>
			<xs:choice>
				<xs:element name="contest" type="eCH-0155:contestType"/>
				<xs:element name="contestIdentification" type="eCH-0155:contestIdentificationType"/>
			</xs:choice>
			<xs:element name="eVotingContestCodes" type="eCH-0228:namedCodeType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="eVotingUrlInfo" type="eCH-0228:urlType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="votingCardDataType">
		<xs:sequence>
			<xs:element name="votingCardSequenceNumber">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:minLength value="1"/>
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="frankingArea" type="eCH-0228:frankingAreaType" minOccurs="0"/>
			<xs:choice>
				<xs:element name="votingPerson" type="eCH-0228:votingPersonType"/>
				<xs:element name="personIdentification" type="eCH-0228:personIdentificationType"/>
			</xs:choice>
			<xs:element name="votingPlaceInformation" type="eCH-0228:votingPlaceInformationType" minOccurs="0"/>
			<xs:element name="votingCardReturnAddress" type="eCH-0010:organisationMailAddressType" minOccurs="0" maxOccurs="2"/>
			<xs:element name="votingCardIndividualCodes" type="eCH-0228:votingCardIndividualCodesType" minOccurs="0"/>
			<xs:element name="individualLogisticCode" type="eCH-0228:namedCodeType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="votingCardIndividualCodesType">
		<xs:sequence>
			<xs:element name="individualContestCodes" type="eCH-0228:namedCodeType" maxOccurs="unbounded"/>
			<xs:element name="vote" type="eCH-0228:voteType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="electionGroupBallot" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="electionGroupIdentification" type="eCH-0155:electionIdentificationType" minOccurs="0"/>
						<xs:element name="electionGroupDescription" type="eCH-0155:electionGroupDescriptionType" minOccurs="0"/>
						<xs:element name="electionGroupPosition" type="eCH-0155:electionGroupPositionType" minOccurs="0"/>
						<xs:element name="electionInformation" type="eCH-0228:electionInformationType" maxOccurs="unbounded"/>
						<xs:element name="individualElectionGroupVerificationCodes" type="eCH-0228:namedCodeType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="electionInformationType">
		<xs:sequence>
			<xs:element name="election">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="electionIdentification" type="eCH-0155:electionIdentificationType"/>
						<xs:element name="electionPosition" type="eCH-0155:electionPositionType" minOccurs="0"/>
						<xs:element name="electionDescription" type="eCH-0155:electionDescriptionInformationType" minOccurs="0"/>
						<xs:element name="numberOfMandates" type="xs:nonNegativeInteger" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="candidate" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="candidateIdentification" type="eCH-0155:identifierType"/>
						<xs:element name="candidateText" type="eCH-0155:candidateTextInformationType" minOccurs="0"/>
						<xs:element name="candidateReference" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="candidateReferenceOnPosition" type="eCH-0155:candidateReferenceType" minOccurs="0"/>
									<xs:element name="occurences" type="xs:positiveInteger" minOccurs="0"/>
									<xs:element name="candidateTextOnPosition" type="eCH-0155:candidateTextInformationType" minOccurs="0"/>
									<xs:element name="individualCandidateVerificationCode" type="eCH-0228:namedCodeType" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="list" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="listIdentification" type="eCH-0155:listIdentificationType"/>
						<xs:element name="listIndentureNumber" type="eCH-0155:listIndentureNumberType" minOccurs="0"/>
						<xs:element name="listDescription" type="eCH-0155:listDescriptionInformationType" minOccurs="0"/>
						<xs:element name="isEmptyList" type="eCH-0155:isEmptyListType" minOccurs="0"/>
						<xs:element name="listOrderOfPrecedence" type="eCH-0155:listOrderOfPrecedenceType" minOccurs="0"/>
						<xs:element name="listUnionBallotText" type="eCH-0155:listUnionBallotTextType" minOccurs="0"/>
						<xs:element name="individualListVerificationCodes" type="eCH-0228:namedCodeType" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="candidatePosition" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="positionOnList" type="eCH-0155:positionOnListType"/>
									<xs:element name="candidateReferenceOnPosition" type="eCH-0155:candidateReferenceType"/>
									<xs:element name="candidateIdentification" type="eCH-0155:identifierType"/>
									<xs:element name="candidateTextOnPosition" type="eCH-0155:candidateTextInformationType" minOccurs="0"/>
									<xs:element name="occurences" type="xs:positiveInteger" minOccurs="0"/>
									<xs:element name="checkingNumber" type="xs:token" minOccurs="0"/>
									<xs:element name="individualCandidateVerificationCode" type="eCH-0228:namedCodeType" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="emptyPositionCodes" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="position" type="xs:nonNegativeInteger"/>
						<xs:element name="individualEmptyPositionVerificationCode" type="eCH-0228:codeType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="writeInCodes" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="position" type="xs:nonNegativeInteger"/>
						<xs:element name="individualWriteInVerificationCode" type="eCH-0228:codeType"/>
						<xs:element name="writeInCodeDesignation" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="language" type="eCH-0155:languageType"/>
									<xs:element name="codeDesignationText">
										<xs:simpleType>
											<xs:restriction base="xs:token">
												<xs:minLength value="1"/>
												<xs:maxLength value="500"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="individualElectionVerificationCode" type="eCH-0228:namedCodeType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="voteType">
		<xs:sequence>
			<xs:element name="voteIdentification" type="eCH-0155:voteIdentificationType"/>
			<xs:element name="voteDescription" type="eCH-0155:voteDescriptionInformationType" minOccurs="0"/>
			<xs:element name="ballot" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ballotIdentification" type="eCH-0155:ballotIdentificationType"/>
						<xs:element name="ballotPosition" type="eCH-0155:ballotPositionType"/>
						<xs:element name="ballotDescription" type="eCH-0155:ballotDescriptionInformationType" minOccurs="0"/>
						<xs:element name="ballotGroup" type="eCH-0155:ballotDescriptionInformationType" minOccurs="0"/>
						<xs:choice>
							<xs:element name="standardBallot">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="questionInformation">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="questionIdentification" type="eCH-0155:questionIdType"/>
													<xs:element name="ballotQuestionNumber" type="eCH-0155:questionNumberType" minOccurs="0"/>
													<xs:element name="answerOption" type="eCH-0228:answerOptionType" maxOccurs="unbounded"/>
													<xs:element name="ballotQuestion" type="eCH-0155:ballotQuestionType" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="variantBallot">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="questionInformation" minOccurs="2" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="questionIdentification" type="eCH-0155:questionIdType"/>
													<xs:element name="ballotQuestionNumber" type="eCH-0155:questionNumberType" minOccurs="0"/>
													<xs:element name="questionPosition" type="xs:nonNegativeInteger" minOccurs="0"/>
													<xs:element name="ballotQuestion" type="eCH-0155:ballotQuestionType" minOccurs="0"/>
													<xs:element name="answerOption" type="eCH-0228:answerOptionType" maxOccurs="unbounded"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="tieBreakInformation" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="questionIdentification" type="eCH-0155:questionIdType"/>
													<xs:element name="tieBreakQuestionNumber" type="eCH-0155:questionNumberType" minOccurs="0"/>
													<xs:element name="questionPosition" type="xs:nonNegativeInteger" minOccurs="0"/>
													<xs:element name="tieBreakQuestion" type="eCH-0155:tieBreakQuestionType" minOccurs="0"/>
													<xs:element name="answerOption" type="eCH-0228:answerOptionType" maxOccurs="unbounded"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:choice>
						<xs:element name="extension" type="eCH-0155:extensionType" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="individualVoteVerificationCode" type="eCH-0228:namedCodeType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="answerOptionType">
		<xs:sequence>
			<xs:element name="answerIdentification" type="eCH-0155:identifierType"/>
			<xs:element name="answerSequenceNumber" type="xs:nonNegativeInteger"/>
			<xs:element name="answerTextInformation" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="language" type="eCH-0155:languageType"/>
						<xs:element name="answerTextShort" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:token">
									<xs:minLength value="1"/>
									<xs:maxLength value="10"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="answerText">
							<xs:simpleType>
								<xs:restriction base="xs:token">
									<xs:minLength value="1"/>
									<xs:maxLength value="30"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="individualVoteVerificationCode" type="eCH-0228:codeType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="votingCardDeliveryType">
		<xs:sequence>
			<xs:element name="contestData" type="eCH-0228:contestDataType" minOccurs="0"/>
			<xs:element name="votingCardData" type="eCH-0228:votingCardDataType" maxOccurs="unbounded"/>
			<xs:element name="logisticCode" type="eCH-0228:namedCodeType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="extension" type="eCH-0155:extensionType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="personType">
		<xs:sequence>
			<xs:element name="personIdentification" type="eCH-0228:personIdentificationType"/>
			<xs:element name="callName" type="eCH-0044:baseNameType" minOccurs="0"/>
			<xs:element name="allianceName" type="eCH-0044:baseNameType" minOccurs="0"/>
			<xs:element name="languageOfCorrespondance" type="eCH-0045:languageType"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="foreignerPersonType">
		<xs:complexContent>
			<xs:extension base="eCH-0228:personType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="swissPersonType">
		<xs:complexContent>
			<xs:extension base="eCH-0228:personType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="swissAbroadType">
		<xs:sequence>
			<xs:element name="swissAbroadPerson" type="eCH-0228:swissPersonType"/>
			<xs:element name="residenceCountry" type="eCH-0008:countryType"/>
			<xs:choice>
				<xs:element name="municipality" type="eCH-0007:swissMunicipalityType"/>
				<xs:element name="canton" type="eCH-0007:cantonAbbreviationType"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="swissDomesticType">
		<xs:sequence>
			<xs:element name="swissDomesticPerson" type="eCH-0228:swissPersonType"/>
			<xs:element name="municipality" type="eCH-0007:swissMunicipalityType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="foreignerType">
		<xs:sequence>
			<xs:element name="foreignerPerson" type="eCH-0228:foreignerPersonType"/>
			<xs:element name="municipality" type="eCH-0007:swissMunicipalityType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="delivery">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="deliveryHeader" type="eCH-0058:headerType"/>
				<xs:element name="votingCardDelivery" type="eCH-0228:votingCardDeliveryType"/>
			</xs:sequence>
			<xs:attribute ref="eCH-0228:minorVersion"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
